.input-field {
  width: 100%;
  padding: 12px;
  margin-bottom: 1rem;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 14px;
}

.input-field:focus {
  outline: 2px solid #22d3ee;
}
